body{
    margin: 0px;
    padding: 0px;
    height: 0px;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #03C988;
}
.cabecalho h1{
    color:aliceblue;
}
.navbar{
    width: 30%;
}
.lista{
    display: flex;
    justify-content: space-around;
}
.lista__item{
    width: 30%;
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}
.lista__item a {
    color:aliceblue;
}
.lista__item a:hover{
    color:royalblue;
}
.conteudo{
    padding: 0 0 30px 20px;

}

.sobremim{
    display: flex;
    justify-content: space-around;
    padding: 25px 15px;
}
.sobremim_photo{
    background: url("images/personal.jpg");
    background-position: 0% 50%;
    background-size: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 3px 3px rgb(0, 218, 0);
}
.sobremim_descricao{
    width: 80%;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sobremim_descricao p{
    font-size: 1.3rem;
    line-height: 1.7rem;
}
.hobbiesetop{
    display: flex;
    justify-content: space-between;
    width:100%;
    gap:10px;
}
.hobbies{
    width: 45%;
}

.hobbies__list{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.hobbies__item{
    border-radius: 10px;
    list-style: none;
    width: 120px;
    height: 200px;
    background-color: #C6EBC5;
    text-align: center;
    box-shadow: 3px 3px rgb(0, 202, 118);
    padding-top: 15px;
    position: relative;
}
.hobbies__item:hover{
    bottom:12px;
}
.hobbies__item:hover p{
    color: blue;
}

.hobbie__title{
    font-size: 1rem;
    font-weight: bold;
}
.hobbies__title{
    text-align: right;
    padding-right: 15px;
}

.hobbie_imagem{
    width: 80%;
    height: 60%;
}
.topfive{
    width: 55%;
}
.top__list{
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.top__item{
    width: 120px;
    height: 200px;
    border: #03C988 2px;
    margin: 0 5px;
    list-style: none;
    position: relative;
    background-color: #C6EBC5;
    text-align: center;
    box-shadow: 3px 3px rgb(0, 202, 118);
    padding: 7px 0;
    border-radius: 10px;
}
.top__item:hover{
    bottom: 12px;
    transition: ease-in 500ms;
}
.top__item:hover p{
    color: blue;
}
.top__number{
    background-color: #00fda9;
    padding: 7px;
    color:blue;
    font-weight: bold;
    position: absolute;
    top: 0px;
    left:0px;
}

.top__imagem{
    width: 80%;
    height: 60%;
}

.top__nome{
    font-size: 1rem;
    font-weight: bold;
}
footer{
    background-color: #00fda9;
    display: flex;
    justify-content: space-between;
}
.listaredessociais{
    display: flex;
    justify-content: space-between;
}

.listaredessociais li{
    margin: 0 2px;
    width: 60px;
    list-style: none;
}
.listaredessociais li:hover .imagem__redessociais{
    width: 70%;
}
.imagem__redessociais{
    width: 60%;
}
.paginaContato{
    text-align: center;
    padding: 2% 10px;
}
.paginaContato a{
    color: rgb(150, 150, 150);
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
}
.paginaContato a:hover{
    color: blue
}

@media (max-width: 600px){
    body{
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .cabecalho{
        width: 100%;
        padding: 0px;
        display: flex;
        justify-content: space-around;
        column-gap: 2px;
    }

    .cabecalho h1{
        font-size: 1.2rem;
    }
    
    .menu-hamburguer{
        background: url("images/menu.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        position: absolute;
        top:40px;
        right:30px;
    }

    .lista{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #03C988;
        padding: 0px 5px;
        position: relative;
        top:110px;
        left:-15px;
        opacity:0;
    }
    .menu-hamburguer:active .lista{
        opacity: 1;
    }
    .lista li {
        height: 2rem;
        color: aliceblue;
    }
    
    .conteudo{
        padding: 0px 2px;
    }

    .sobremim{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobremim_descricao{
        width: 100%;
        text-align: justify;
    }
    .hobbiesetop{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hobbies{
        width: 100%;
    }
    .hobbies__list{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .hobbies__item{
        width: 30%;
    }
    .topfive{
        width: 100%;
    }
    .top__title{
        text-align: center;
    }
    .top__list{
        width:100%;
        flex-wrap: wrap;
        row-gap: 15px;
        column-gap: 2px;
    }
    .top__item{
        width: 30%;
    }
    footer{
        flex-direction: column-reverse;
    }
}